body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* header css */

.main-header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 200px;
    height: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.subheader {
    display: flex;
    flex-direction: column;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


.h1-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header-button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border-color: #E5E7EB;
    border-width: 2px;
    width: 90px;
    height: 30px;
}

img {
    width: 300px;
    height: auto;
}

/* top-main css */

.top-main-text,
.cards-text {
    text-align: center;
}

.top-main-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.top-main-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.cards img {
    width: 200px;
    height: auto;
}

.cards {
    max-width: 200px;
}

.top-main {
    margin-bottom: 100px;
}

/* middle-main css */

.middle-main-background {
    background: #E5E7EB;
}

.middle-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.middle-main-quote {
    font-size: 36px;
    color: #313845;
    max-width: 800px;
}

.middle-main-box {
    display: flex;
    flex-direction: column;
}

.middle-main-signature {
    align-self: flex-end;
    margin-right: 50px;
}

/* bottom-main css */

.bottom-main-background,
.bottom-sign-background,
.bottom-main-sign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-sign-background {
    background-color: #3882F6;
    margin: 100px;
    border-radius: 15px;
}

.bottom-main-sign {
    padding: 50px 100px;
    gap: 150px;
}

.bottom-main-sign-text-up {
    color: #F9FAF8;
    font-size: 24px;
}

.bottom-main-sign-text-down {
    color: #E5E7EB;
    font-size: 18px;
}

.call-to-action-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    width: 90px;
    height: 30px;
    border-color: pink;
    border-width: 2px;
}

.bottom-main-sign-button {
    align-self: flex-end;
}